<H3>Payment</H3>
<ul>
    <li>gateway: {{ payment.gateway }}</li>
    <li>id: {{ payment.id }}</li>
    <li>total: {{ payment.total }}</li>
    <li>charge_status: {{ payment.charge_status }}</li>
    <li>authorized amount: {{ payment.get_authorized_amount }}</li>
    <li>captured amount: {{ payment.captured_amount }}</li>
</ul>

<a href="{% url 'admin:payment_payment_change' payment.id %}">See payment in admin </a>

<H3>Stripe Operations:</H3>
<ul>
    <li><a href="{% url 'stripe_elements_token' payment.id %}">Authorize - Elements token</a></li>
    <li><a href="{% url 'stripe_checkout' payment.id %}">Authorize - Checkout</a></li>
    <li><a href="{% url 'stripe_payment_intents_manual_flow' payment.id %}">Authorize - Payment intents manual flow</a></li>
    <li><a href="{% url 'stripe_capture' payment.id %}">Capture</a></li>
    <li><a href="{% url 'stripe_refund' payment.id %}">Refund</a></li>
</ul>

